<footer id="footerBlog" class="footer">
    <div class="con">
        <div class="row">
            <div class="col">
                <span>2017 Company. All Rights Reserved.</span>
            </div>
            <div class="col text-right">
                <span>Follow us on :</span>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#"><i class="icon-facebook"></i></a></li>
                    <li class="footer__item"><a href="#"><i class="icon-twitter"></i></a></li>
                    <li class="footer__item"><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li class="footer__item"><a href="#"><i class="icon-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>