<section id="service">
    <div class="con">
        <div class="row">
            <div class="col">
                <h3>mauris id bibendum est. proin dapibus sollicitudin iaculis, Maecenas condimentum maximus laoreet.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odit molestiae consequatur magni modi possimus porro, recusandae alias eligendi quae quibusdam amet itaque? Voluptas, nostrum repudiandae explicabo odio quod consequuntur?</p>
            </div>
            <div class="col"><img src="../../../assets/Images/service.jpg"></div>
        </div>
    </div>
</section>